[package]
name = "xor_engine"
version = "0.1.0"
edition = "2021"
default-run = "xor_engine"

[dependencies]
sdl2 = {version = "0.34.5" , default-features = false, features = ["ttf"]}
cuda-driver-sys = "0.3.0"
rand = "0.8"
cust = "0.3.2"
image = "0.25"

[build-dependencies]
cc = "1.0"
